@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  line-height: 1.42em;
  color:#A7A1AE;
  background-color:#1F2739;
}

h1 {
  font-size:3em; 
  font-weight: 300;
  line-height:1em;
  text-align: center;
  color: #4DC3FA;
}

h2 {
  font-size:1em; 
  font-weight: 300;
  text-align: center;
  display: block;
  line-height:1em;
  padding-bottom: 2em;
  color: #FB667A;
}

.grid {
  display: grid;
  grid-template-columns: repeat(6, auto);
  justify-content: center;
  align-items: center;
  margin: 20px;
  gap: 5px; 
}

input {
  border: none;
  height: 20px;
  padding-left: 5px;
  width: 130px;
  border-radius: 8px;
}

input:focus {
  outline: none;
}

.mini{
  color: rgb(115, 190, 233);
}

.obs {
  color: rgb(115, 190, 233);
  margin-left: 10px;
  font-size: 12px;
}

//Tabela responsiva de pablo garcia

.container th h1 {
  font-weight: bold;
  font-size: 14px;
  text-align: left;
  color: #185875;
}

.container td {
  font-weight: normal;
  font-size: 12px;
-webkit-box-shadow: 0 2px 2px -2px #0E1119;
   -moz-box-shadow: 0 2px 2px -2px #0E1119;
        box-shadow: 0 2px 2px -2px #0E1119;
}

.container {
  text-align: left;
  overflow: hidden;
  width: 92%;
  margin: 0 auto;
display: table;
padding: 0 0 8em 0;
}

.container td, .container th {
  text-align: center;
  padding: 10px;
}

/* Background-color of the odd rows */
.container tr:nth-child(odd) {
  background-color: #323C50;
}

/* Background-color of the even rows */
.container tr:nth-child(even) {
  background-color: #2C3446;
}

.container th {
  background-color: #1F2739;
}

.container td:first-child {
  color: rgb(219, 118, 51);
}

.container tr:hover {
 background-color: #464A52;
-webkit-box-shadow: 0 6px 6px -6px #0E1119;
   -moz-box-shadow: 0 6px 6px -6px #0E1119;
        box-shadow: 0 6px 6px -6px #0E1119;
}

.container td:hover {
background-color: #FFF842;
color: #403E10;
font-weight: bold;

box-shadow: #7F7C21 -1px 1px, #7F7C21 -2px 2px, #7F7C21 -3px 3px, #7F7C21 -4px 4px, #7F7C21 -5px 5px, #7F7C21 -6px 6px;
transform: translate3d(6px, -6px, 0);

transition-delay: 0s;
  transition-duration: 0.4s;
  transition-property: all;
transition-timing-function: line;
}

@media (max-width: 800px) {
.container td:nth-child(4),
.container th:nth-child(4) {
    display: none;
  }
}

.delete {
  text-decoration: none;
  color: rgb(211, 58, 58);
}

//Botão geral
.botao-geral {
  border: none;
  border-radius: 7px;
  background-color: #333;
  color: rgb(219, 118, 51);
  padding: 10px;
}

.botao-geral:hover {
  background-color: rgb(219, 118, 51);
  color: #333;
  cursor: pointer;
}
.add {
  position: absolute;
  display: block;
  padding: 0;
  margin-top: 7%;
  margin-left: 40%;
  width: 15%;
  height: 25px;
}
.apagar-tudo {
  display: block;
  margin: auto;
  margin-top: -50px;
}

.titulo-media {
  text-align: center;
  margin-top: 35px;
  padding: 20px;
  background-color: rgb(88, 88, 88);
  color: #fff;
  font-weight: 400;
}

.calcular-media {
  display: block;
  width: 200px;
  padding: 10px;
  margin: 35px auto;
}

 .media {
   display: none;
 }

 .tamanho {
   width: 40%;
 }

 .gerar-grafico {
   display: block;
   margin: 35px auto;
   padding: 10px;
 }

 #chart {
   margin: 35px auto;
   width: 580px;
 }
